<link href="/css/sidebar.css" rel="stylesheet">
<div class="sidebar">
    <!-- your profile picture -->
    <img src="/assets/img/avatar_pic.jpeg" alt="Haoyuan Lu" class="sidebar__avatar">
    <h3 class = "sidebar__name">Haoyuan (Louis) Lu</h3>
    <p>Look for 2026 SDE NG</p>
    <p>Release Engineer Intern @ PTC</p>
    <p>MSCS @ Columbia University</p>
    <p>BSCS @ Emory University</p>
    <div class="social-links">
        <a href="mailto: hl3812@columbia.edu" class="google-plus"><i class="iconify" data-icon="mdi:gmail"></i></a>
        <a href="https://www.linkedin.com/in/louis-haoyuan-lu/"><i class="iconify" data-icon="bx:bxl-linkedin"></i></a>
        <a href="https://github.com/LouisLu00" class="github"><i class="iconify" data-icon="mdi:github"></i></a>
    </div>
</div>
